{% extends "bootstrap/base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<div class="container">
	<h1>兵庫部品</h1>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
	 
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 
		<title>Hyogo Buhin Sample</title>
	</head>
	 	
	<a href="/create" role="button">新規作成画面</a>
	<a href="/logout" role="button">ログアウト</a>
	<hr>

<!-- 	<div class="container">
		<h1>index.htmlを表示しています</h1>
		<img src="{{ url_for('static', filename='img/test-pattern.jpg') }}">
	</div>
	-->

	{% for post in posts %}
	<article>
		<h2>{{ post.title }}</h2>
		<a href="/{{ post.id }}/update" role="button">編集</a>
		<a href="/{{ post.id }}/delete" role="button">削除</a>
		<p>作成日時： {{ post.created_at }}</p>
		<p>{{ post.body }}</p>
		<hr>
	</article>
	{% endfor %}
</div>
{% endblock %}
