{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<h1>兵庫部品</h1>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">

		<title>Hyogo Buhin Sample</title>
	</head>
    <div>
	<a href="/create" role="button">新規作成画面</a>
	<a href="/logout" role="button">ログアウト</a>
	<hr>
	</div>

    <div class="container">
		<h1>index.htmlを表示しています</h1>
		<img src="{{ url_for('static', filename='img/test-pattern.jpg') }}">
	</div>

	{% for post in posts %}
	<article>
		<h2>{{ post.title }}</h2>
		<a href="/{{ post.id }}/update" role="button">編集</a>
		<a href="/{{ post.id }}/delete" role="button">削除</a>
		<p>作成日時： {{ post.created_at }}</p>
		<p>{{ post.body }}</p>
		<hr>
	</article>
	{% endfor %}

{% endblock %}
